<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">

  {% include head.html %}

  <body>
    <section class="page-header">
      {% include page-header.html %}
    </section>

    <section class="main-content">
      {{ content }}

      <div style="text-align: center; margin: 0px; padding: 0px;">
        {% if page.precedente %}
          <a href="{{ page.precedente | relative_url }}" class="btn2">Page précédente</a>
        {% endif %}
        {% if page.suivante %}
          <a href="{{ page.suivante | relative_url }}" class="btn2">Page suivante</a>
        {% endif %}
      </div>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-credits">{{ site.description }}</span>
        {% endif %}
      </footer>
    </section>
  </body>
</html>
